header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px;
}

/* .burger-icon {
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    top:40px;
    right: 30px;
} */

header nav ul li {
    margin-right: 20px;
    transition: color 150ms;
}

.le_test {
    position: relative;
}

.hidden_test {
    display: none;
}

.le_test:hover .hidden_test {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 0;
}